* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: none;
}

img {
  max-width: 100%;
}

:root {
  --base-font-size: 15px;
  --container-width: 1200px;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: var(--base-font-size);
}

.slick-next:before,
.slick-prev:before {
  color: #474747;
}

.slick-list,
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 85%;
  margin: 30px auto;
}

@media (max-width: 576px) {
  .container {
    width: 80%;
  }
}

.products {
  width: 100%;
}

.products h4 {
  font-size: 1.33333rem;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  display: block;
  margin-bottom: 15px;
}

.products .product-carousel {
  margin-bottom: 60px;
}

.products .product-carousel .item {
  position: relative;
  background: #f7f7f7;
  margin: 0 7.5px;
  padding: 15px;
}

.products .product-carousel .item .badges {
  position: absolute;
  top: 15px;
  left: 0;
  width: 40px;
  z-index: 1;
}

.products .product-carousel .item .badges span {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  display: block;
}

.products .product-carousel .item .badges span.instock {
  background: #65d87d;
}

.products .product-carousel .item .badges span.outofstock {
  background: #75a780;
}

.products .product-carousel .item .badges span.isnew {
  background: #444;
  color: #fff;
  padding: 0;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  font-size: 0.85rem;
  letter-spacing: 1px;
  text-indent: 1.6px;
}

.products .product-carousel .item .badges span.discount {
  background: #bf1522;
  color: #fff;
  padding: 0;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  font-size: 0.82rem;
  font-family: "Courier New", Courier, monospace;
}

.products .product-carousel .item .badges span.likecount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  color: #777;
  line-height: 40px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.9rem;
}

.products .product-carousel .item .badges span.likecount img {
  width: 14px;
  margin-right: 3px;
}

.products .product-carousel .item .img {
  width: 100%;
}

.products .product-carousel .item .img a {
  display: block;
}

.products .product-carousel .item .img img {
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  font-size: 0;
  mix-blend-mode: multiply;
}

.products .product-carousel .item h3 {
  width: 100%;
  text-align: center;
  font-size: 1.06rem;
}

.products .product-carousel .item h3 a {
  color: inherit;
  text-decoration: none;
}

.products .product-carousel .item h3 a:hover {
  text-decoration: underline;
}

@media (min-width: 990px) and (max-width: 1035px) {
  .products .product-carousel .item h3 {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .products .product-carousel .item h3 {
    font-size: 1rem;
  }
}

.products .product-carousel .item .categories {
  font-size: 13px;
  display: block;
  text-align: center;
  padding: 10px;
  color: #888;
}

.products .product-carousel .item .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  width: 100%;
}

.products .product-carousel .item .price .item-price,
.products .product-carousel .item .price .old-price {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 10px 4px;
  font-weight: bold;
  font-size: 1.18rem;
}

.products .product-carousel .item .price .item-price {
  text-align: right;
}

.products .product-carousel .item .price .item-price.current {
  text-align: center;
}

.products .product-carousel .item .price .old-price {
  text-align: left;
  color: #aaa;
  text-decoration: line-through;
}

.products .product-carousel .item .price .base-price {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  color: #888;
  font-size: 12px;
}
/*# sourceMappingURL=app.css.map */