@import "./helper";
@import "./media-queries";

@import "./reset";

:root {
  --base-font-size: 15px;
  --container-width: #{$xl};
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: var(--base-font-size);
}

// slick
.slick-next:before,
.slick-prev:before {
  color: #474747;
}

.slick-list,
.slick-track {
  display: flex;
}

.slick-initialized .slick-slide {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.container {
  width: 85%;
  margin: 30px auto;
  @include sm {
    width: 80%;
  }
}

.products {
  width: 100%;

  h4 {
    font-size: rem(20px);
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    display: block;
    margin-bottom: 15px;
  }
  .product-carousel {
    margin-bottom: 60px;

    .item {
      position: relative;
      background: #f7f7f7;
      margin: 0 7.5px;
      padding: 15px;

      .badges {
        position: absolute;
        top: 15px;
        left: 0;
        width: 40px;
        z-index: 1;
        span {
          width: 100%;
          padding: 10px;
          margin-bottom: 5px;
          display: block;
          &.instock {
            background: #65d87d;
          }
          &.outofstock {
            background: #75a780;
          }
          &.isnew {
            background: #444;
            color: #fff;
            padding: 0;
            text-align: center;
            line-height: 40px;
            font-weight: bold;
            font-size: 0.85rem;
            letter-spacing: 1px;
            text-indent: 1.6px;
          }
          &.discount {
            background: #bf1522;
            color: #fff;
            padding: 0;
            text-align: center;
            line-height: 40px;
            font-weight: bold;
            font-size: 0.82rem;
            font-family: "Courier New", Courier, monospace;
          }
          &.likecount {
            display: flex;
            background: #fff;
            color: #777;
            line-height: 40px;
            padding: 0;
            justify-content: center;
            font-size: 0.9rem;
            img {
              width: 14px;
              margin-right: 3px;
            }
          }
        }
      }
      .img {
        width: 100%;
        a {
          display: block;
        }
        img {
          width: 100%;
          height: 200px;
          object-fit: contain;
          font-size: 0;
          mix-blend-mode: multiply;
        }
      }

      h3 {
        width: 100%;
        text-align: center;
        font-size: 1.06rem;
        a {
          color: inherit;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        @media (min-width: 990px) and (max-width: 1035px) {
          font-size: 1rem;
        }
        @include sm {
          font-size: 1rem;
        }
      }

      .categories {
        font-size: 13px;
        display: block;
        text-align: center;
        padding: 10px;
        color: #888;
      }

      .price {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;

        .item-price,
        .old-price {
          flex: 1 1 50%;
          padding: 10px 4px;
          font-weight: bold;
          font-size: 1.18rem;
        }

        .item-price {
          text-align: right;
          &.current {
            text-align: center;
          }
        }
        .old-price {
          text-align: left;
          color: #aaa;
          text-decoration: line-through;
        }

        .base-price {
          flex-basis: 100%;
          color: #888;
          font-size: 12px;
        }
      }
    }
  }
}
